@import "bourbon/bourbon";
@import "neat/neat";

//
@import "octicons";

/////

// framework variable
$em-base: 16px;
$font-size-root: $em-base;
$font-size-sm: .85rem;
$font-size-xs: .75rem;
$gutter: golden-ratio(0em, 0);
$fg-gutter: $gutter;

// original variable
$font-family: 游ゴシック,YuGothic,Noto Sans,Hiragino Sans,Hiragino Kaku Gothic ProN,ヒラギノ角ゴ ProN W3,メイリオ,Meiryo,sans-serif;
$tool-height: 2.5rem;
$header-height: 2rem;

// color
$color50: #fafafa;
$color100:#f5f5f5;
$color200:#eeeeee;
$color300:#e0e0e0;
$color400:#bdbdbd;
$color500:#9e9e9e;
$color600:#757575;
$color700:#616161;
$color800:#424242;
$color900:#212121;

$text-color: $color800;
$bg-color:   $color200;

/////

@include selection {
    background: $color300;
}

html {
    font-size: $font-size-root;
    @include box-sizing(border-box);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: {
        size: 100%;
        family: $font-family;
    }
    color: $text-color;
    margin: 0;
    overflow: hidden;
}

.container {
    @include outer-container(100%);
}

// tool
.tool {
    @include span-columns(12);
    padding: .25rem .5rem;
    height: $tool-height;
}

.btn {
    color: $color800;
    font-size: $font-size-sm;
    border: 1px solid $color500;
    background: $color300;
    border-radius: 2px;
    transition: background .3s, transform .1s;

    &:hover {
        background: $color400;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        transform: scale(.95);
    }
}
.btn-toggle {
    float: right;
    padding: .25rem;
}

.count {
    float: right;
    font-size: $font-size-xs;
    line-height: 2;
}
#chara-count {
    color: $color600;
}

// main
.editor-side,
.preview-side {
    @include span-columns(6);
    transition: width .3s;

    .header {
         @include span-columns(6 of 6);
         font-size: $font-size-xs;
         height: $header-height;
         padding: .25rem 0 .25rem .5rem;
         position: relative;
         box-shadow: 0 0 3px 0 rgba(0,0,0,.26);
    }
}

.editor-side {
    overflow: hidden;
}

//
// Markdown
// ---------------

// Textarea
#editor { display: none; }

// CodeMirror
.CodeMirror {
    font-family: $font-family;
    height: calc(100vh - #{$tool-height} - #{$header-height});
    width: 100%;
    top: 1px; // for CodeMirror's position
}
.CodeMirror-linenumber {
    font-family: monospace;
}
.cm-formatting,
.cm-hr {
    font-family: monospace;
    color: $color500;
    font-weight: bold;
}
.cm-comment {
    color: $color600;
}

.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
    background: $color300 !important;
}
.CodeMirror-activeline-background {
    background: $color300;
}


//
// Preview
// ---------------
.preview-side {
    overflow: hidden;
}
.markdown-body {
    height: calc(100vh - #{$tool-height} - #{$header-height});
    font-family: $font-family;
    overflow: auto;
    line-height: 1.6em;
    padding: .25rem .5rem;
}


// Modal
#export {
    font-size: .85em;
    width: 100%;
    height: 100%;
    border: 1px solid $color400;
    resize: none;

    &:focus {
        outline: none !important;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 8rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.4);
}

.modal-content {
    background: #fff;
    border-radius: .25rem;
    margin: auto;
    padding: 1rem;
    width: 90%;
}
