@use '../Settings/variables' as *;

code,
pre {
  font-size: 1em;
}

code {
  margin: 0;
  padding: .2em .4em;
  border-radius: 6px;
  background-color: var(--code-bg);
  font-family: $font-family-monospace;
  &::before,
  &::after {
    content: '\00a0';
    letter-spacing: -.2em;
  }
}

pre {
  padding: 1rem;
  overflow: auto;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--bg);
  font-family: $font-family-monospace;
  overflow-wrap: normal;

  > code {
    display: inline;
    padding: 0;
    border: 0;
    background: transparent;
    background-color: transparent;
    font-size: 100%;
    line-height: inherit;
    overflow-wrap: normal;
    word-break: normal;
    white-space: pre;
    &::before,
    &::after {
      content: normal;
    }
  }
}
