{
  "comments": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    ["lodash"],
    "@babel/plugin-transform-runtime"
  ]
}
