/release
/dist
.editorconfig
.gitattributes

### Node
/node_modules
/npm-debug.log

### Bower
/vendor
bower_components
.bower-cache
.bower-registry
.bower-tmp

### OSX
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Thumbs.db
Desktop.ini

### etc
test*
