<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="dist/vendor.min.css">
    <link rel="stylesheet" href="dist/style.min.css">
</head>
<body>
    <div id="app">
        <div class="menu-side">
            <!-- menu -->
            <button id="btnOpenSetting" class="mdl-button mdl-js-button mdl-button--icon"
                    v-on:click="openSetting()">
                <i class="material-icons">settings</i>
            </button>
        </div>
        <div class="main-container">
            <div class="editor-side" v-bind:class="{open:isOpenEditor}">
                <div class="header">
                    <!-- format -->
                    <div id="editor-tools">
                        <button id="formatBold" data-format="bold" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">format_bold</i>
                        </button>
                        <button id="formatItalic" data-format="italic" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">format_italic</i>
                        </button>
                        <button id="formatStrikethrough" data-format="strikethrough" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">format_strikethrough</i>
                        </button>
                        <button id="formatList_bulleted" data-format="list_bulleted" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">format_list_bulleted</i>
                        </button>
                        <button id="formatList_numbered" data-format="list_numbered" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">format_list_numbered</i>
                        </button>
                        <button id="formatQuote" data-format="quote" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">format_quote</i>
                        </button>
                    <!-- toggle screen -->
                    <button id="btnToggleEditor"
                            class="mdl-button mdl-js-button mdl-button--icon"
                            v-on:click="isOpenEditor=!isOpenEditor">
                        <i class="material-icons" v-if="isOpenEditor">fullscreen_exit</i>
                        <i class="material-icons" v-if="!isOpenEditor">fullscreen</i>
                    </button>
                </div>
            </div>
            <textarea id="editor" v-model="input" debounce="300"></textarea>
        </div>
        <div class="preview-side">
            <div class="header">
                <div class="tabs">
                    <div id="tabPreview" class="tab-list"
                    v-bind:class="{'active': tabContents == 0}"
                    v-on:click="changeTab(0)"><i class="material-icons">visibility</i></div>
                    <div id="tabCode" class="tab-list"
                    v-bind:class="{'active': tabContents == 1}"
                    v-on:click="changeTab(1)"><i class="material-icons">code</i></div>
                </div>
            </div>
            <div id="result">
                <div class="preview markdown-body"
                v-html="input | markdown"
                v-if="tabContents == 0"></div>
                <div class="preview"
                v-if="tabContents == 1">
                    <textarea id="export" v-html="input | markdown" readonly wrap="soft"></textarea>
                </div>
        </div>
    </div>
</div>
        <!-- snackbar -->
        <mdl-snackbar display-on="fileOperation"></mdl-snackbar>
        <!-- tooltip -->
        <mdl-tooltip for="btnOpenSetting" class="mdl-tooltip--right">Setting</mdl-tooltip>
        <mdl-tooltip for="formatBold">Bold</mdl-tooltip>
        <mdl-tooltip for="formatItalic">Italic</mdl-tooltip>
        <mdl-tooltip for="formatStrikethrough">Strikethrough</mdl-tooltip>
        <mdl-tooltip for="formatList_bulleted">Bullet List</mdl-tooltip>
        <mdl-tooltip for="formatList_numbered">Number List</mdl-tooltip>
        <mdl-tooltip for="formatQuote">Quote</mdl-tooltip>
        <mdl-tooltip for="btnToggleEditor">Toggle resize</mdl-tooltip>
        <mdl-tooltip for="tabPreview">Preview</mdl-tooltip>
        <mdl-tooltip for="tabCode">Code</mdl-tooltip>
        <!-- modal -->
        <mdl-dialog title="Settings" display-on="modalSetting">
            <div>
                <mdl-select id="selectFont" label="Font" :value.sync="font.family.default" :options="font.family.list"></mdl-select>
                <mdl-select id="selectFontSize" label="FontSize" :value.sync="font.size.default" :options="font.size.list"></mdl-select>
            </div>
            <div>
                <mdl-select id="selectTheme" label="Theme" :value.sync="theme.default" :options="theme.list"></mdl-select>
            </div>
            <div>
                <mdl-switch id="switchTextLint" :checked.sync="switchTextLint" value="textlint" checked>text-lint</mdl-switch>
            </div>

            <template slot="actions">
                <mdl-button>Cancel</mdl-button>
                <mdl-button primary>Save</mdl-button>
            </template>
        </mdl-dialog>
    </div><!-- app -->
    <div class="dropzone"><span>Drop a file here.</span></div>

    <script src="dist/vendor.min.js"></script>
    <script src="dist/script.min.js"></script>
    <script src="renderer/js/app.js"></script>

    <script src="browser/menu.js"></script>
    <script src="browser/files.js"></script>
    <script src="browser/dialog.js"></script>
    <script src="browser/control.js"></script>

    <script>
        const electron = require('electron');
        electron.webFrame.setZoomLevelLimits(1, 1);
    </script>
</body>
</html>
