@font-face {
    font-family: "Noto Sans CJK JP";
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans CJK JP Light'),
         url('../font/NotoSansCJKjp-Regular.woff') format('woff'),
         url('../font/NotoSansCJKjp-Regular.otf') format('opentype')
}
