@font-face {
    font-family: "Noto Sans CJK JP";
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    src: local('Noto Sans CJK JP Light'),
         url('../font/NotoSansCJKjp-Light.woff') format('woff'),
         url('../font/NotoSansCJKjp-Light.otf') format('opentype');
}

@font-face {
    font-family: "Noto Sans CJK JP";
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    src: local('Noto Sans CJK JP Regular'),
         url('../font/NotoSansCJKjp-Regular.woff') format('woff'),
         url('../font/NotoSansCJKjp-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    src: local('Source Code Pro Light'),
         url('../font/SourceCodePro-Light.otf.woff') format('woff'),
         url('../font/SourceCodePro-Light.otf') format('opentype');
}
