//
// Font
// -------------------------
$font-family-sansSerif:        -apple-system, BlinkMacSystemFont, "Noto Sans JP", YuGothic, "Yu Gothic", "游ゴシック体", "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Emoji, sans-serif !default;
$font-family-monospace:        Roboto, #{$font-family-sansSerif}, Emoji, monospace !default;
$font-weight-base:             normal;

$font-size-base:               16px;
$font-size-lg:                 1.0625rem;
$font-size-sm:                 .9375rem;
$font-size-xs:                 .875rem;

$line-height-base:             1.75; // 28/16
$line-height-computed:         floor(($font-size-base * $line-height-base));


//
// Layout
// -------------------------

$spacer:     1rem;

$screen-xs:  480px !default;  // Extra small screen / phone
$screen-sm:  768px !default;  // Small screen / tablet
$screen-md:  992px !default;  // Medium screen / desktop
$screen-lg:  1200px !default;

$container-max-width:  1140px;

$toolbar-height:   56px;
$statusbar-height: 20px;


//
// color const
// -------------------------
$color50:  #fafafa;
$color100: #f5f5f5;
$color200: #eeeeee;
$color300: #e0e0e0;
$color400: #bdbdbd;
$color500: #9e9e9e;
$color600: #757575;
$color700: #616161;
$color800: #424242;
$color900: #212121;

$white: #fff;
$black: #000;

$full-black:  rgba(0, 0, 0, 1);
$dark-black:  rgba(0, 0, 0, 0.87);
$light-black: rgba(0, 0, 0, 0.54);
$min-black:   rgba(0, 0, 0, 0.26);
$faint-black: rgba(0, 0, 0, 0.12);
$full-white:  rgba(255, 255, 255, 1);
$dark-white:  rgba(255, 255, 255, 0.87);
$light-white: rgba(255, 255, 255, 0.54);

$text-color: $color800;
$bg-color:   $white;


// color
$selection-bgColor: lighten(#97D3E3, 12%);
$menu-bgColor: $color600;
$editor-linenumber-color: $color500;
$editor-linenumber-bgColor: transparent;
$editor-activeline-bgColor: $color200;
