// Noto Sans CJK JP
@font-face {
    font-family: "Noto Sans CJK JP";
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    src: local('Noto Sans CJK JP Light'),
         url('../assets/font/NotoSansCJKjp-Light.woff') format('woff'),
         url('../assets/font/NotoSansCJKjp-Light.otf') format('opentype');
}

@font-face {
    font-family: "Noto Sans CJK JP";
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    src: local('Noto Sans CJK JP Regular'),
         url('../assets/font/NotoSansCJKjp-Regular.woff') format('woff'),
         url('../assets/font/NotoSansCJKjp-Regular.otf') format('opentype');
}

// Source Code Pro
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    src: local('Source Code Pro Light'),
         url('../assets/font/SourceCodePro-Light.otf.woff') format('woff'),
         url('../assets/font/SourceCodePro-Light.otf') format('opentype');
}

// Material Icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("../assets/font/MaterialIcons-Regular.woff2") format('woff2'),
       url("../assets/font/MaterialIcons-Regular.woff") format('woff'),
       url("../assets/font/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  // /* Support for Firefox. */
  // -moz-osx-font-smoothing: grayscale;
  // /* Support for IE. */
  // font-feature-settings: 'liga';
}
