
::selection {
    background: $selection-bgColor;
}

[v-cloak] {
    display: none;
}

// Chrome scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    overflow: hidden;
    border-radius: 1rem;
    border: none;
    background: $color400;

    &:hover {
        background: $color500;
    }
    &:active {
        background: $color600;
    }
}
::-webkit-scrollbar-piece,
::-webkit-scrollbar-corner {
    background: transparent;
}

.btn {
    font-size: $font-size-sm;
    color: $color800;
    background: $color300;
    padding: $btn-padding;
    border: none;
    border-radius: $border-radius-sm;
    transition: background .3s, transform .1s;
    user-select: none;

    &:hover {
        background: darken($color300, 15%);
    }
    &:focus {
        outline: 0;
    }
    &:active {
        transform: scale(.95);
    }
}

// drop zone
.dropzone {
    opacity: 0;
    position: fixed;
    width: calc( 100% );
    height: 100vh;
    right: 0;
    top: 0;
    z-index: -100;
    background: $faint-black;
    border: 6px dashed $color600;

    transition: opacity .4s;
    user-select: none;

    span {
        display: block;
        font-size: 4rem;
        font-weight: bold;
        line-height: 100vh;
        color: $color600;
        text-align: center;
    }
}

// button
#btnToggleEditor {
    float: right;
}

// tab
.tabs {
    display: inline-block;
    vertical-align: middle;

    .tab-list {
        float: left;
        padding: $btn-padding;
        color: $color600;
        background: $color300;
        cursor: pointer;
        border-radius: $border-radius-sm;
        transition: background .2s;
        user-select: none;
        outline: none;

        &:hover {
            background: darken($color300, 15%);
        }

        &.active {
            color: $color900;
            background: darken($color300, 20%);
        }

        &:first-child:not(:last-child) {
            @include border-right-radius(0);
        }
        &:last-child:not(:first-child) {
            @include border-left-radius(0);
        }
    }

}
