@import "bourbon";
@import "neat";

@import "variables";
@import "plugin/mdl";
@import "plugin/codemirror";
@import "font";
@import "parts";

/////

html {
    font-size: $font-size-root;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;

    // ローディング中
    &.nprogress-busy {
        cursor: wait;
        pointer-events: none;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: {
        size: 100%;
        family: $font-family-regular;
        weight: 300;
    }
    color: $text-color;
    background: $white;
    margin: 0;
    overflow: hidden;
}

#header {
    z-index: 3;  // .mdl-layout__drawer-button is 4
}

.material-icons {
    color: $text-color;
}

.preview-code,
.markdown-body {
    // ヘッダの高さを除いたHeight
    height: calc(100vh - #{$container-height});
    @media screen and (max-width: $layout-screen-size-threshold) {
        height: calc(100vh - #{$container-height-mb});
    }
}

.mdl-layout__content {
    overflow: hidden !important;
}

.container {
    @include outer-container(100%);
}

.editor-side {
    transition: width .3s;
    @include span-columns(6);
    overflow: hidden;

    &.open {
        width: calc( 100% );
    }
}

.preview-side {
    @include span-columns(6);
    border-left: 2px solid $color300;
}

//
// Preview
// ---------------

.markdown-body {
    font-family: $font-family-regular;
    overflow: auto;
    padding: .5rem;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-regular;
    }
    code, kbd, pre {
        font-family: $font-family-monospace;
    }
    p {
        font-size: $font-size-root !important;
    }
}


.preview-code {
    font-family: $font-family-monospace;
    width: 100%;
    border: none;
    resize: none;
    padding: .25rem .5rem;

    &:focus {
        outline: none !important;
    }
}


//
.mdl-layout__drawer-button {
    width: 40px;
    outline: 0;
}
