
// Bourbon
$em-base: 16px;
$gutter: golden-ratio(0em, 0);
$fg-gutter: $gutter;
// $grid-columns: 12;

// Bourbon:: Global Prefixer
$prefix-for-webkit:    true;
$prefix-for-mozilla:   false;
$prefix-for-microsoft: false;
$prefix-for-opera:     false;
$prefix-for-spec:      false;

// original variable
$font-size-root: $em-base;
$font-size-sm: .85rem;
$font-size-xs: .75rem;
$font-family-regular: "Noto Sans CJK JP";
$font-family-monospace: "Source Code Pro", $font-family-regular;

$btn-padding: .25rem .5rem;
$header-height: 2rem + (.5rem);

$menu-size-width: 40px;

$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

// Material Design Lite
$preferred_font: $font-family-regular;
$performance_font: $font-family-regular;


// color const
$color50: #fafafa;
$color100:#f5f5f5;
$color200:#eeeeee;
$color300:#e0e0e0;
$color400:#bdbdbd;
$color500:#9e9e9e;
$color600:#757575;
$color700:#616161;
$color800:#424242;
$color900:#212121;

$white: #fff;
$black: #000;

$full-black:  rgba(0, 0, 0, 1);
$dark-black:  rgba(0, 0, 0, 0.87);
$light-black: rgba(0, 0, 0, 0.54);
$min-black:   rgba(0, 0, 0, 0.26);
$faint-black: rgba(0, 0, 0, 0.12);
$full-white:  rgba(255, 255, 255, 1);
$dark-white:  rgba(255, 255, 255, 0.87);
$light-white: rgba(255, 255, 255, 0.54);

$text-color: $color800;
$bg-color:   $white;


// color
$selection-bgColor: lighten(#97D3E3, 12%);
$menu-bgColor: $color600;
$editor-linenumber-color: $color500;
$editor-linenumber-bgColor: $color300;
$editor-activeline-bgColor: $color200;
